.detail-book-details {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  width: auto;
  margin: auto;
  padding: 20px;
  background-color: var(--main-beige);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.detail-book-info {
  width: 70%;
}
.detail-cover-image {
  min-width: 300px;
  border-radius: 10px;
  width: 30%;
}
.detail-cover-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: fill;
}
.detail-book-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--main-orange);
  margin-bottom: 0.8em;
}

.detail-book-info p {
  font-size: 1.4rem;
  color: var(--main-gray);
  text-align: left;
}

.detail-book-info p strong {
  font-size: 1.3rem;
}
.detail-buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail-take-button {
  padding: 10px;
  background-color: var(--no_hover-orange);
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: var(--shadow);
}

.detail-take-button:hover {
  background-color: var(--hover-orange);
  transform: scale(1.05);
}

.detail-take-button:active {
  transform: scale(1);
  box-shadow: var(--shadow);
}

@media (max-width: 700px) {
  .detail-cover-image {
    height: auto;
    width: 100%;
  }
  main {
    padding: 0;
  }

  .detail-cover-image img {
    display: block;
    width: 170px;
    height: auto;
    margin: 0  auto;
  }
  .detail-book-info {
    width: 100%;
  }
  .detail-buttons {
    flex-direction: column;
  }
  .detail-book-details {
    flex-direction: column;
    border-radius: 0px;
  }
}
