{% extends "base.html" %}
{% block title %}about{% endblock title %}
{% block background_class %}background-about{% endblock background_class %}
{% block content %}
<div class="about-container">
    <h1>О нас</h1>
    <p>
        Добро пожаловать в <strong>BIBALARY</strong> — мир знаний, идей и вдохновения! Наша онлайн-библиотека создана, чтобы объединять людей, любящих книги, и предоставлять им доступ к разнообразным литературным сокровищам.
    </p>
    <p>
        В нашем каталоге вы найдете произведения на любой вкус: от классической литературы до современных бестселлеров, от научных трудов до увлекательных фантастических историй.
    </p>
    <p>
        Мы верим, что книги — это мост между поколениями, культурами и мирами. Наша миссия — сделать чтение доступным для каждого и вдохновить вас на открытия, размышления и творчество.
    </p>
    <h2>Почему именно мы?</h2>
    <ul>
        <li>Удобный поиск и рекомендации для быстрого выбора книг.</li>
        <li>Доступ к обширной коллекции из любого уголка мира.</li>
        <li>Книги, которые вдохновляют, учат и развлекают.</li>
    </ul>
    <p>
        Присоединяйтесь к нашему сообществу читателей и сделайте свою жизнь ярче с помощью книг!
    </p>
</div>
{% endblock content %}
