{% extends "base.html" %}

{% block title %}Детали книги{% endblock title %}
{% load static %}
{% block head %}
<link href="{% static 'css/book.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head %}
{% block content %}
<div class="detail-book-details">
    <div class="detail-cover-image">
        <img src="{{ book.cover.url }}" alt="{{ book.title }}">
    </div>
    <div class="detail-book-info">
        <h2 class="detail-book-title">{{ book.title }}</h2>
        <p><strong>Автор:</strong> {{ book.author.first_name }} {{ book.author.last_name }}</p>
        <p><strong>Год издания:</strong> {{ book.year }}</p>
        <p><strong>Жанр:</strong> {{ book.genre.name }}</p>
        <p><strong>Издатель:</strong> {{ book.publisher.name }}</p>
        <p><strong>Количество:</strong> {{ book.amount }}</p>
        <p><strong>Количество электронных версий:</strong> {{ book.web_amount }}</p>
        <p><strong>Описание:</strong> {{ book.summary }}</p>
        <div class="detail-buttons">
            <a href="{% url 'take_book' book.id %}?is_web=False" class="detail-take-button">Взять</a>
            <a href="{% url 'take_book' book.id %}?is_web=True" class="detail-take-button">Взять электронную версию</a>
        </div>
    </div>
</div>
{% endblock content %}