{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block background_class %}background-contact{% endblock background_class %}
{% block content %}
<div class="contact-container">
    <h1>Свяжитесь с нами</h1>
    <p>
        Если у вас есть вопросы, предложения или вы хотите узнать больше о нашей библиотеке, мы всегда готовы вам помочь!
    </p>
    <h2>Контактная информация</h2>
    <ul>
        <li><strong>Email:</strong> <a href="mailto:contact@library.com">contact@library.com</a></li>
        <li><strong>Телефон:</strong> <a href="tel:+123456789">+1 (234) 567-89</a></li>
        <li><strong>Адрес:</strong> ул. Книжная, д. 42, г. Москва, Россия</li>
    </ul>
    <h2>Мы в социальных сетях</h2>
    <p>
        Присоединяйтесь к нам в социальных сетях, чтобы следить за новостями, акциями и событиями:
    </p>
    <ul>
        <li><a href="https://vk.com/bibalary" target="_blank">ВКонтакте</a></li>
        <li><a href="https://ok.ru/bibalary" target="_blank">Одноклассники</a></li>
        <li><a href="https://dzen.ru/bibalary" target="_blank">Яндекс.Дзен</a></li>
    </ul>
</div>
{% endblock content %}
