{% extends "base.html" %}

{% block title %}Index{% endblock title %}
{% block background_class %}background-home{% endblock background_class %}
{% block content %}
<div class="home-search">
    <h1>BIBALARY</h1>
    <form method="get" action="{% url 'search' %}" class="home-search-form">
        <input type="text" name="query" placeholder="Напишите название книги..." class="home-search-input">
        <button type="submit" class="home-search-button">
            <img src="static/images/search-icon.png" alt="Поиск" class="search-icon">
        </button>
    </form>
</div>
{% endblock content %}