{% extends 'base.html' %}
{% load static %}
{% load spurl %}
{% block head %}
<link href="{% static 'css/search.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock head %}
{% block content %}
<div>
    <form method="get" action="" class="search-form">
        {{ form.query }}
        {{ form.genre }}
        {{ form.year }}
        {{ form.author }}
        <button type="submit" class="filter-button">Поиск</button>
    </form>
</div>


<div class="book-list">
    {% for book in books %}
    <a href={% url 'book_detail' id=book.id %} class="book-item">
        <div class="cover-image">
            <img src="{{ book.cover.url }}" alt="{{ book.title }}">
        </div>
        <div class="book-info">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% if page_obj.has_other_pages %}
<div class="pagination">
    {% for p in paginator.page_range %}
        <a href="{% spurl base=request.get_full_path set_query='page={{p}}' %}" class="page-link">{{ p }}</a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}